@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
    <form id="categoryForm" action="@Url.Action("AddCategory", "Admin")" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" name="CategoryName" id="categoryName" placeholder="Kategori İsmi">
            </div>
            <div class="col-md-6 mb-3">
                <button type="submit" class="btn btn-success">Kategori Ekle</button>
            </div>
        </div>
    </form>
</div>
<script>
    function validateForm() {
        var categoryName = document.getElementById("categoryName").value;
        if (categoryName === "") {
            alert("Lütfen kategori ismi giriniz.");
            return false;
        }
        return true;
    }
</script>
    